@tailwind base;
@tailwind components;
@tailwind utilities;




/* gloabl */
* {
    margin: 0;
    padding: 0;
}

/* font-family: 'Epilogue', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */

.ep {
    font-family: 'Epilogue', sans-serif;
}

.wo {
    font-family: 'Work Sans', sans-serif;
}

.ap {
    font-family: 'Archivo Black', sans-serif;
}

.btn-bg {
    border-radius: 24px;
    background: linear-gradient(118deg, #FFAF4B 0%, #F55C58 100%);
}
.btn-bg-lg {
    border-radius: 24px;
    background: linear-gradient(118deg, #FFAF4B 0%, #F55C58 100%);
}
.btn-bg-mb {
    border-radius: 24px;
    background: linear-gradient(118deg, #FFAF4B 0%, #F55C58 100%);
}

.btn-bg:hover {
    border-radius: 24px;
    background: linear-gradient(118deg, #FFAF4B 0%, #F55C58 100%);
    box-shadow: 0px 0px 20px 3px #FEA64D;

}
.btn-bg-mb:hover {
    border-radius: 24px;
    background: linear-gradient(118deg, #FFAF4B 0%, #F55C58 100%);
    box-shadow: 0px 0px 20px 3px #FEA64D;

}
.btn-bg-lg:hover {
    border-radius: 24px;
    background: linear-gradient(118deg, #FFAF4B 0%, #F55C58 100%);
    box-shadow: 0px 0px 20px 3.5px #FEA64D;

}


/* nav */
.btn-layout {
    width: 140px;
    height: 47px;
    flex-shrink: 0;
}



/* hero */

.gradient-text {
    background: linear-gradient(to right, #FFAF4B, #F55C58);
    /* Define your gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* skill section */
.skill {
    width: 162px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid #C7B9B9;
}

.skill-title {
    color: #FFF;

    font-style: normal;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: -0.884px;
}

.skill-text {
    color: #FFF;

    font-style: normal;
    font-weight: 500;
    line-height: normal;

}


/* about me */


.ab-title {
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    /* 108.824% */
    letter-spacing: -1.02px;
}

.ab-text {
    color: #000;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
    /* 140% */
}


/* featured */
.fe {
    font-weight: 600;
    line-height: 74px;
    /* 108.824% */
    letter-spacing: -1.02px;
}


/* CSS */
.css {
    border: solid 1px;
}

/* footer */
.footer-text {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-a {
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-btn:hover {
    border-radius: 24px;
    background: #F0F0F0;
    box-shadow: 8px 8px 0px 0px rgba(155, 155, 155, 0.48);
    color: #000;
}